src/main/wsdl/configurationservice.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. -->
<xs:schema xmlns:tns="http://ws.coverity.com/v6" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
		   targetNamespace="http://ws.coverity.com/v6">

	<xs:element name="CoverityFault" type="tns:CovRemoteServiceException"/>

	<xs:element name="copyStream" type="tns:copyStream"/>

	<xs:element name="copyStreamResponse" type="tns:copyStreamResponse"/>

	<xs:element name="createAttribute" type="tns:createAttribute"/>

	<xs:element name="createAttributeResponse" type="tns:createAttributeResponse"/>

	<xs:element name="createComponentMap" type="tns:createComponentMap"/>

	<xs:element name="createComponentMapResponse" type="tns:createComponentMapResponse"/>

	<xs:element name="createGroup" type="tns:createGroup"/>

	<xs:element name="createGroupResponse" type="tns:createGroupResponse"/>

	<xs:element name="createProject" type="tns:createProject"/>

	<xs:element name="createProjectResponse" type="tns:createProjectResponse"/>

	<xs:element name="createRole" type="tns:createRole"/>

	<xs:element name="createRoleResponse" type="tns:createRoleResponse"/>

	<xs:element name="createStream" type="tns:createStream"/>

	<xs:element name="createStreamInProject" type="tns:createStreamInProject"/>

	<xs:element name="createStreamInProjectResponse" type="tns:createStreamInProjectResponse"/>

	<xs:element name="createStreamResponse" type="tns:createStreamResponse"/>

	<xs:element name="createTriageStore" type="tns:createTriageStore"/>

	<xs:element name="createTriageStoreResponse" type="tns:createTriageStoreResponse"/>

	<xs:element name="createUser" type="tns:createUser"/>

	<xs:element name="createUserResponse" type="tns:createUserResponse"/>

	<xs:element name="deleteAttribute" type="tns:deleteAttribute"/>

	<xs:element name="deleteAttributeResponse" type="tns:deleteAttributeResponse"/>

	<xs:element name="deleteComponentMap" type="tns:deleteComponentMap"/>

	<xs:element name="deleteComponentMapResponse" type="tns:deleteComponentMapResponse"/>

	<xs:element name="deleteGroup" type="tns:deleteGroup"/>

	<xs:element name="deleteGroupResponse" type="tns:deleteGroupResponse"/>

	<xs:element name="deleteProject" type="tns:deleteProject"/>

	<xs:element name="deleteProjectResponse" type="tns:deleteProjectResponse"/>

	<xs:element name="deleteRole" type="tns:deleteRole"/>

	<xs:element name="deleteRoleResponse" type="tns:deleteRoleResponse"/>

	<xs:element name="deleteSnapshot" type="tns:deleteSnapshot"/>

	<xs:element name="deleteSnapshotResponse" type="tns:deleteSnapshotResponse"/>

	<xs:element name="deleteStream" type="tns:deleteStream"/>

	<xs:element name="deleteStreamResponse" type="tns:deleteStreamResponse"/>

	<xs:element name="deleteTriageStore" type="tns:deleteTriageStore"/>

	<xs:element name="deleteTriageStoreResponse" type="tns:deleteTriageStoreResponse"/>

	<xs:element name="deleteUser" type="tns:deleteUser"/>

	<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>

	<xs:element name="getAllIntegrityControlPermissions" type="tns:getAllIntegrityControlPermissions"/>

	<xs:element name="getAllIntegrityControlPermissionsResponse" type="tns:getAllIntegrityControlPermissionsResponse"/>

	<xs:element name="getAllPermissions" type="tns:getAllPermissions"/>

	<xs:element name="getAllPermissionsResponse" type="tns:getAllPermissionsResponse"/>

	<xs:element name="getAllRoles" type="tns:getAllRoles"/>

	<xs:element name="getAllRolesResponse" type="tns:getAllRolesResponse"/>

	<xs:element name="getAttribute" type="tns:getAttribute"/>

	<xs:element name="getAttributeResponse" type="tns:getAttributeResponse"/>

	<xs:element name="getAttributes" type="tns:getAttributes"/>

	<xs:element name="getAttributesResponse" type="tns:getAttributesResponse"/>

	<xs:element name="getCheckerProperties" type="tns:getCheckerProperties"/>

	<xs:element name="getCheckerPropertiesResponse" type="tns:getCheckerPropertiesResponse"/>

	<xs:element name="getCommitState" type="tns:getCommitState"/>

	<xs:element name="getCommitStateResponse" type="tns:getCommitStateResponse"/>

	<xs:element name="getComponent" type="tns:getComponent"/>

	<xs:element name="getComponentMaps" type="tns:getComponentMaps"/>

	<xs:element name="getComponentMapsResponse" type="tns:getComponentMapsResponse"/>

	<xs:element name="getComponentResponse" type="tns:getComponentResponse"/>

	<xs:element name="getDefectStatuses" type="tns:getDefectStatuses"/>

	<xs:element name="getDefectStatusesResponse" type="tns:getDefectStatusesResponse"/>

	<xs:element name="getGroup" type="tns:getGroup"/>

	<xs:element name="getGroupResponse" type="tns:getGroupResponse"/>

	<xs:element name="getGroups" type="tns:getGroups"/>

	<xs:element name="getGroupsResponse" type="tns:getGroupsResponse"/>

	<xs:element name="getLastUpdateTimes" type="tns:getLastUpdateTimes"/>

	<xs:element name="getLastUpdateTimesResponse" type="tns:getLastUpdateTimesResponse"/>

	<xs:element name="getLdapServerDomains" type="tns:getLdapServerDomains"/>

	<xs:element name="getLdapServerDomainsResponse" type="tns:getLdapServerDomainsResponse"/>

	<xs:element name="getLicenseState" type="tns:getLicenseState"/>

	<xs:element name="getLicenseStateResponse" type="tns:getLicenseStateResponse"/>

	<xs:element name="getMessageOfTheDay" type="tns:getMessageOfTheDay"/>

	<xs:element name="getMessageOfTheDayResponse" type="tns:getMessageOfTheDayResponse"/>

	<xs:element name="getProjects" type="tns:getProjects"/>

	<xs:element name="getProjectsResponse" type="tns:getProjectsResponse"/>

	<xs:element name="getRole" type="tns:getRole"/>

	<xs:element name="getRoleResponse" type="tns:getRoleResponse"/>

	<xs:element name="getServerTime" type="tns:getServerTime"/>

	<xs:element name="getServerTimeResponse" type="tns:getServerTimeResponse"/>

	<xs:element name="getSnapshotInformation" type="tns:getSnapshotInformation"/>

	<xs:element name="getSnapshotInformationResponse" type="tns:getSnapshotInformationResponse"/>

	<xs:element name="getSnapshotsForStream" type="tns:getSnapshotsForStream"/>

	<xs:element name="getSnapshotsForStreamResponse" type="tns:getSnapshotsForStreamResponse"/>

	<xs:element name="getStreams" type="tns:getStreams"/>

	<xs:element name="getStreamsResponse" type="tns:getStreamsResponse"/>

	<xs:element name="getSystemConfig" type="tns:getSystemConfig"/>

	<xs:element name="getSystemConfigResponse" type="tns:getSystemConfigResponse"/>

	<xs:element name="getTriageStores" type="tns:getTriageStores"/>

	<xs:element name="getTriageStoresResponse" type="tns:getTriageStoresResponse"/>

	<xs:element name="getUser" type="tns:getUser"/>

	<xs:element name="getUserResponse" type="tns:getUserResponse"/>

	<xs:element name="getUsers" type="tns:getUsers"/>

	<xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

	<xs:element name="getVersion" type="tns:getVersion"/>

	<xs:element name="getVersionResponse" type="tns:getVersionResponse"/>

	<xs:element name="mergeTriageStores" type="tns:mergeTriageStores"/>

	<xs:element name="mergeTriageStoresResponse" type="tns:mergeTriageStoresResponse"/>

	<xs:element name="notify" type="tns:notify"/>

	<xs:element name="notifyResponse" type="tns:notifyResponse"/>

	<xs:element name="setAcceptingNewCommits" type="tns:setAcceptingNewCommits"/>

	<xs:element name="setAcceptingNewCommitsResponse" type="tns:setAcceptingNewCommitsResponse"/>

	<xs:element name="setMessageOfTheDay" type="tns:setMessageOfTheDay"/>

	<xs:element name="setMessageOfTheDayResponse" type="tns:setMessageOfTheDayResponse"/>

	<xs:element name="updateAttribute" type="tns:updateAttribute"/>

	<xs:element name="updateAttributeResponse" type="tns:updateAttributeResponse"/>

	<xs:element name="updateComponentMap" type="tns:updateComponentMap"/>

	<xs:element name="updateComponentMapResponse" type="tns:updateComponentMapResponse"/>

	<xs:element name="updateGroup" type="tns:updateGroup"/>

	<xs:element name="updateGroupResponse" type="tns:updateGroupResponse"/>

	<xs:element name="updateProject" type="tns:updateProject"/>

	<xs:element name="updateProjectResponse" type="tns:updateProjectResponse"/>

	<xs:element name="updateRole" type="tns:updateRole"/>

	<xs:element name="updateRoleResponse" type="tns:updateRoleResponse"/>

	<xs:element name="updateSnapshotInfo" type="tns:updateSnapshotInfo"/>

	<xs:element name="updateSnapshotInfoResponse" type="tns:updateSnapshotInfoResponse"/>

	<xs:element name="updateStream" type="tns:updateStream"/>

	<xs:element name="updateStreamResponse" type="tns:updateStreamResponse"/>

	<xs:element name="updateTriageStore" type="tns:updateTriageStore"/>

	<xs:element name="updateTriageStoreResponse" type="tns:updateTriageStoreResponse"/>

	<xs:element name="updateUser" type="tns:updateUser"/>

	<xs:element name="updateUserResponse" type="tns:updateUserResponse"/>

	<xs:complexType name="deleteAttribute">
		<xs:sequence>
			<xs:element name="attributeDefinitionId" type="tns:attributeDefinitionIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="attributeDefinitionIdDataObj">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteAttributeResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="CovRemoteServiceException">
		<xs:sequence>
			<xs:element name="errorCode" type="xs:int"/>
			<xs:element name="message" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="copyStream">
		<xs:sequence>
			<xs:element name="projectId" type="tns:projectIdDataObj" minOccurs="0"/>
			<xs:element name="sourceStreamId" type="tns:streamIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="projectIdDataObj">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="streamIdDataObj">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="copyStreamResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:streamDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="streamDataObj">
		<xs:sequence>
			<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="autoDeleteOnExpiry" type="xs:boolean"/>
			<xs:element name="componentMapId" type="tns:componentMapIdDataObj" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="id" type="tns:streamIdDataObj" minOccurs="0"/>
			<xs:element name="language" type="xs:string" minOccurs="0"/>
			<xs:element name="primaryProjectId" type="tns:projectIdDataObj" minOccurs="0"/>
			<xs:element name="triageStoreId" type="tns:triageStoreIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="roleAssignmentDataObj">
		<xs:sequence>
			<xs:element name="groupId" type="tns:groupIdDataObj" minOccurs="0"/>
			<xs:element name="roleAssignmentType" type="xs:string" minOccurs="0"/>
			<xs:element name="roleId" type="tns:roleIdDataObj" minOccurs="0"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="username" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="groupIdDataObj">
		<xs:sequence>
			<xs:element name="domain" type="tns:serverDomainIdDataObj" minOccurs="0"/>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="serverDomainIdDataObj">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="roleIdDataObj">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="componentMapIdDataObj">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="triageStoreIdDataObj">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateRole">
		<xs:sequence>
			<xs:element name="roleId" type="tns:roleIdDataObj" minOccurs="0"/>
			<xs:element name="roleSpec" type="tns:roleSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="roleSpecDataObj">
		<xs:sequence>
			<xs:element name="deletable" type="xs:boolean" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="editable" type="xs:boolean" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="permissionDataObjs" type="tns:permissionDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="permissionDataObj">
		<xs:sequence>
			<xs:element name="permissionValue" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateRoleResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getGroups">
		<xs:sequence>
			<xs:element name="filterSpec" type="tns:groupFilterSpecDataObj" minOccurs="0"/>
			<xs:element name="pageSpec" type="tns:pageSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="groupFilterSpecDataObj">
		<xs:sequence>
			<xs:element name="ldap" type="xs:boolean" minOccurs="0"/>
			<xs:element name="namePattern" type="xs:string" minOccurs="0"/>
			<xs:element name="projectIdDataObj" type="tns:projectIdDataObj" minOccurs="0"/>
			<xs:element name="userList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pageSpecDataObj">
		<xs:sequence>
			<xs:element name="pageSize" type="xs:int"/>
			<xs:element name="sortAscending" type="xs:boolean"/>
			<xs:element name="sortField" type="xs:string" minOccurs="0"/>
			<xs:element name="startIndex" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getGroupsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:groupsPageDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="groupsPageDataObj">
		<xs:sequence>
			<xs:element name="groups" type="tns:groupDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="totalNumberOfRecords" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="groupDataObj">
		<xs:sequence>
			<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="local" type="xs:boolean"/>
			<xs:element name="name" type="tns:groupIdDataObj" minOccurs="0"/>
			<xs:element name="syncEnabled" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getCheckerProperties">
		<xs:sequence>
			<xs:element name="filterSpec" type="tns:checkerPropertyFilterSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="checkerPropertyFilterSpecDataObj">
		<xs:sequence>
			<xs:element name="checkerNameList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subcategoryList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="domainList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="categoryList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="cweCategoryList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="impactList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="projectId" type="tns:projectIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getCheckerPropertiesResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:checkerPropertyDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="checkerPropertyDataObj">
		<xs:sequence>
			<xs:element name="category" type="xs:string" minOccurs="0"/>
			<xs:element name="categoryDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="checkerSubcategoryId" type="tns:checkerSubcategoryIdDataObj" minOccurs="0"/>
			<xs:element name="cweCategory" type="xs:string" minOccurs="0"/>
			<xs:element name="eventSet0Caption" type="xs:string" minOccurs="0"/>
			<xs:element name="eventSet1Caption" type="xs:string" minOccurs="0"/>
			<xs:element name="eventSet2Caption" type="xs:string" minOccurs="0"/>
			<xs:element name="impact" type="xs:string" minOccurs="0"/>
			<xs:element name="impactDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="subcategoryLocalEffect" type="xs:string" minOccurs="0"/>
			<xs:element name="subcategoryLongDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="subcategoryShortDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="checkerSubcategoryIdDataObj">
		<xs:sequence>
			<xs:element name="checkerName" type="xs:string"/>
			<xs:element name="domain" type="xs:string"/>
			<xs:element name="subcategory" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getTriageStores">
		<xs:sequence>
			<xs:element name="filterSpec" type="tns:triageStoreFilterSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="triageStoreFilterSpecDataObj">
		<xs:sequence>
			<xs:element name="descriptionPattern" type="xs:string" minOccurs="0"/>
			<xs:element name="namePattern" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getTriageStoresResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:triageStoreDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="triageStoreDataObj">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="id" type="tns:triageStoreIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateStream">
		<xs:sequence>
			<xs:element name="streamId" type="tns:streamIdDataObj" minOccurs="0"/>
			<xs:element name="streamSpec" type="tns:streamSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="streamSpecDataObj">
		<xs:sequence>
			<xs:element name="autoDeleteOnExpiry" type="xs:boolean" minOccurs="0"/>
			<xs:element name="componentMapId" type="tns:componentMapIdDataObj" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="language" type="xs:string" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="triageStoreId" type="tns:triageStoreIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateStreamResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getSnapshotInformation">
		<xs:sequence>
			<xs:element name="snapshotIds" type="tns:snapshotIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="snapshotIdDataObj">
		<xs:sequence>
			<xs:element name="id" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getSnapshotInformationResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:snapshotInfoDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="snapshotInfoDataObj">
		<xs:sequence>
			<xs:element name="analysisCommandLine" type="xs:string" minOccurs="0"/>
			<xs:element name="analysisConfiguration" type="xs:string" minOccurs="0"/>
			<xs:element name="analysisHost" type="xs:string" minOccurs="0"/>
			<xs:element name="analysisInternalVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="analysisTime" type="xs:long" minOccurs="0"/>
			<xs:element name="analysisVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="anaysisIntermediateDir" type="xs:string" minOccurs="0"/>
			<xs:element name="buildCommandLine" type="xs:string" minOccurs="0"/>
			<xs:element name="buildConfiguration" type="xs:string" minOccurs="0"/>
			<xs:element name="buildHost" type="xs:string" minOccurs="0"/>
			<xs:element name="buildIntermediateDir" type="xs:string" minOccurs="0"/>
			<xs:element name="buildTime" type="xs:long" minOccurs="0"/>
			<xs:element name="commitUser" type="xs:string" minOccurs="0"/>
			<xs:element name="dateCreated" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="enabledCheckers" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="snapshotId" type="tns:snapshotIdDataObj"/>
			<xs:element name="sourceVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="target" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getProjects">
		<xs:sequence>
			<xs:element name="filterSpec" type="tns:projectFilterSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="projectFilterSpecDataObj">
		<xs:sequence>
			<xs:element name="descriptionPattern" type="xs:string" minOccurs="0"/>
			<xs:element name="namePattern" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getProjectsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:projectDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="projectDataObj">
		<xs:sequence>
			<xs:element name="streams" type="tns:streamDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="streamLinks" type="tns:streamDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="dateCreated" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="dateModified" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="id" type="tns:projectIdDataObj" minOccurs="0"/>
			<xs:element name="projectKey" type="xs:long" minOccurs="0"/>
			<xs:element name="userCreated" type="xs:string" minOccurs="0"/>
			<xs:element name="userModified" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteUser">
		<xs:sequence>
			<xs:element name="username" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteUserResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getSnapshotsForStream">
		<xs:sequence>
			<xs:element name="streamId" type="tns:streamIdDataObj" minOccurs="0"/>
			<xs:element name="filterSpec" type="tns:snapshotFilterSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="snapshotFilterSpecDataObj">
		<xs:sequence>
			<xs:element name="descriptionPattern" type="xs:string" minOccurs="0"/>
			<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="targetPattern" type="xs:string" minOccurs="0"/>
			<xs:element name="versionPattern" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getSnapshotsForStreamResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:snapshotIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAttributes">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getAttributesResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:attributeDefinitionDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="attributeDefinitionDataObj">
		<xs:sequence>
			<xs:element name="attributeDefinitionId" type="tns:attributeDefinitionIdDataObj" minOccurs="0"/>
			<xs:element name="attributeType" type="xs:string" minOccurs="0"/>
			<xs:element name="builtIn" type="xs:boolean"/>
			<xs:element name="configurableValues" type="tns:attributeValueDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="displayDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="displayName" type="xs:string" minOccurs="0"/>
			<xs:element name="showInTriage" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="attributeValueDataObj">
		<xs:sequence>
			<xs:element name="attributeValueId" type="tns:attributeValueIdDataObj" minOccurs="0"/>
			<xs:element name="deprecated" type="xs:boolean"/>
			<xs:element name="displayName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="attributeValueIdDataObj">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateUser">
		<xs:sequence>
			<xs:element name="username" type="xs:string" minOccurs="0"/>
			<xs:element name="userSpec" type="tns:userSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="userSpecDataObj">
		<xs:sequence>
			<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
			<xs:element name="domain" type="tns:serverDomainIdDataObj" minOccurs="0"/>
			<xs:element name="email" type="xs:string" minOccurs="0"/>
			<xs:element name="familyName" type="xs:string" minOccurs="0"/>
			<xs:element name="givenName" type="xs:string" minOccurs="0"/>
			<xs:element name="groupNames" type="tns:groupIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="local" type="xs:boolean" minOccurs="0"/>
			<xs:element name="locale" type="xs:string" minOccurs="0"/>
			<xs:element name="locked" type="xs:boolean" minOccurs="0"/>
			<xs:element name="password" type="xs:string" minOccurs="0"/>
			<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="username" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateUserResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="createTriageStore">
		<xs:sequence>
			<xs:element name="triageStoreSpec" type="tns:triageStoreSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="triageStoreSpecDataObj">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createTriageStoreResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="createUser">
		<xs:sequence>
			<xs:element name="userSpec" type="tns:userSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createUserResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getServerTime">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getServerTimeResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createStream">
		<xs:sequence>
			<xs:element name="streamSpec" type="tns:streamSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createStreamResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getCommitState">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getCommitStateResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:commitStateDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="commitStateDataObj">
		<xs:sequence>
			<xs:element name="currentCommitCount" type="xs:int" minOccurs="0"/>
			<xs:element name="isAcceptingNewCommits" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAttribute">
		<xs:sequence>
			<xs:element name="attributeDefinitionId" type="tns:attributeDefinitionIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAttributeResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:attributeDefinitionDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createStreamInProject">
		<xs:sequence>
			<xs:element name="projectId" type="tns:projectIdDataObj" minOccurs="0"/>
			<xs:element name="streamSpec" type="tns:streamSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createStreamInProjectResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="setMessageOfTheDay">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="setMessageOfTheDayResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getAllPermissions">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getAllPermissionsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:permissionDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateSnapshotInfo">
		<xs:sequence>
			<xs:element name="snapshotId" type="tns:snapshotIdDataObj" minOccurs="0"/>
			<xs:element name="snapshotData" type="tns:snapshotInfoDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateSnapshotInfoResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getSystemConfig">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getSystemConfigResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:configurationDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="configurationDataObj">
		<xs:sequence>
			<xs:element name="commitPort" type="xs:long" minOccurs="0"/>
			<xs:element name="dbDialect" type="xs:string" minOccurs="0"/>
			<xs:element name="dbDriver" type="xs:string" minOccurs="0"/>
			<xs:element name="maindbName" type="xs:string" minOccurs="0"/>
			<xs:element name="maindbUrl" type="xs:string" minOccurs="0"/>
			<xs:element name="maindbUser" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAllRoles">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getAllRolesResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:roleDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="roleDataObj">
		<xs:sequence>
			<xs:element name="deletable" type="xs:boolean" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="editable" type="xs:boolean" minOccurs="0"/>
			<xs:element name="permissionDataObjs" type="tns:permissionDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="roleId" type="tns:roleIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getGroup">
		<xs:sequence>
			<xs:element name="groupId" type="tns:groupIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getGroupResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:groupDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteComponentMap">
		<xs:sequence>
			<xs:element name="componentMapId" type="tns:componentMapIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteComponentMapResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="createGroup">
		<xs:sequence>
			<xs:element name="groupSpec" type="tns:groupSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="groupSpecDataObj">
		<xs:sequence>
			<xs:element name="domain" type="tns:serverDomainIdDataObj" minOccurs="0"/>
			<xs:element name="local" type="xs:boolean" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="syncEnabled" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createGroupResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="createComponentMap">
		<xs:sequence>
			<xs:element name="componentMapSpec" type="tns:componentMapSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="componentMapSpecDataObj">
		<xs:sequence>
			<xs:element name="componentMapName" type="xs:string" minOccurs="0"/>
			<xs:element name="componentPathRules" type="tns:componentPathRuleDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="components" type="tns:componentDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="defectRules" type="tns:componentDefectRuleDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="componentPathRuleDataObj">
		<xs:sequence>
			<xs:element name="componentId" type="tns:componentIdDataObj"/>
			<xs:element name="pathPattern" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="componentIdDataObj">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="componentDataObj">
		<xs:sequence>
			<xs:element name="componentId" type="tns:componentIdDataObj"/>
			<xs:element name="groupPermissions" type="tns:groupPermissionDataObj" maxOccurs="unbounded"/>
			<xs:element name="subscribers" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="groupPermissionDataObj">
		<xs:sequence>
			<xs:element name="groupId" type="tns:groupIdDataObj"/>
			<xs:element name="groupRole" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="componentDefectRuleDataObj">
		<xs:sequence>
			<xs:element name="componentId" type="tns:componentIdDataObj"/>
			<xs:element name="defaultOwner" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createComponentMapResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="updateTriageStore">
		<xs:sequence>
			<xs:element name="triageStoreId" type="tns:triageStoreIdDataObj" minOccurs="0"/>
			<xs:element name="triageStoreSpec" type="tns:triageStoreSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateTriageStoreResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getLastUpdateTimes">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getLastUpdateTimesResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:featureUpdateTimeDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="featureUpdateTimeDataObj">
		<xs:sequence>
			<xs:element name="featureName" type="xs:string" minOccurs="0"/>
			<xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createAttribute">
		<xs:sequence>
			<xs:element name="attributeDefinitionSpec" type="tns:attributeDefinitionSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="attributeDefinitionSpecDataObj">
		<xs:sequence>
			<xs:element name="attributeName" type="xs:string" minOccurs="0"/>
			<xs:element name="attributeType" type="xs:string" minOccurs="0"/>
			<xs:element name="attributeValueChangeSpec" type="tns:attributeValueChangeSpecDataObj" minOccurs="0"/>
			<xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="showInTriage" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="attributeValueChangeSpecDataObj">
		<xs:sequence>
			<xs:element name="attributeValueIds" type="tns:attributeValueIdDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="attributeValues" type="tns:attributeValueSpecDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="attributeValueSpecDataObj">
		<xs:sequence>
			<xs:element name="deprecated" type="xs:boolean" minOccurs="0"/>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createAttributeResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getAllIntegrityControlPermissions">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAllIntegrityControlPermissionsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:permissionDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getUser">
		<xs:sequence>
			<xs:element name="username" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getUserResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:userDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="userDataObj">
		<xs:sequence>
			<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="dateCreated" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="dateDeleted" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="dateModified" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
			<xs:element name="domain" type="tns:serverDomainIdDataObj" minOccurs="0"/>
			<xs:element name="email" type="xs:string" minOccurs="0"/>
			<xs:element name="familyName" type="xs:string" minOccurs="0"/>
			<xs:element name="givenName" type="xs:string" minOccurs="0"/>
			<xs:element name="groups" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="local" type="xs:boolean" minOccurs="0"/>
			<xs:element name="locale" type="xs:string" minOccurs="0"/>
			<xs:element name="locked" type="xs:boolean" minOccurs="0"/>
			<xs:element name="passwordChanged" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="superUser" type="xs:boolean" minOccurs="0"/>
			<xs:element name="userCreated" type="xs:string" minOccurs="0"/>
			<xs:element name="userDeleted" type="xs:string" minOccurs="0"/>
			<xs:element name="userModified" type="xs:string" minOccurs="0"/>
			<xs:element name="username" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteSnapshot">
		<xs:sequence>
			<xs:element name="snapshotId" type="tns:snapshotIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteSnapshotResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="createProject">
		<xs:sequence>
			<xs:element name="projectSpec" type="tns:projectSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="projectSpecDataObj">
		<xs:sequence>
			<xs:element name="streams" type="tns:streamIdDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="streamLinks" type="tns:streamIdDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="roleAssignments" type="tns:roleAssignmentDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createProjectResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="deleteRole">
		<xs:sequence>
			<xs:element name="roleId" type="tns:roleIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteRoleResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="deleteTriageStore">
		<xs:sequence>
			<xs:element name="triageStoreId" type="tns:triageStoreIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteTriageStoreResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getUsers">
		<xs:sequence>
			<xs:element name="filterSpec" type="tns:userFilterSpecDataObj" minOccurs="0"/>
			<xs:element name="pageSpec" type="tns:pageSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="userFilterSpecDataObj">
		<xs:sequence>
			<xs:element name="assignable" type="xs:boolean" minOccurs="0"/>
			<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
			<xs:element name="groupsList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ldap" type="xs:boolean" minOccurs="0"/>
			<xs:element name="locked" type="xs:boolean" minOccurs="0"/>
			<xs:element name="namePattern" type="xs:string" minOccurs="0"/>
			<xs:element name="projectIdDataObj" type="tns:projectIdDataObj" minOccurs="0"/>
			<xs:element name="startId" type="xs:long" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getUsersResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:usersPageDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="usersPageDataObj">
		<xs:sequence>
			<xs:element name="users" type="tns:userDataObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="totalNumberOfRecords" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getComponentMaps">
		<xs:sequence>
			<xs:element name="filterSpec" type="tns:componentMapFilterSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="componentMapFilterSpecDataObj">
		<xs:sequence>
			<xs:element name="namePattern" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getComponentMapsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:componentMapDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="componentMapDataObj">
		<xs:sequence>
			<xs:element name="componentMapId" type="tns:componentMapIdDataObj"/>
			<xs:element name="componentPathRules" type="tns:componentPathRuleDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="components" type="tns:componentDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="defectRules" type="tns:componentDefectRuleDataObj" nillable="true" minOccurs="0"
						maxOccurs="unbounded"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateAttribute">
		<xs:sequence>
			<xs:element name="attributeDefinitionId" type="tns:attributeDefinitionIdDataObj" minOccurs="0"/>
			<xs:element name="attributeDefinitionSpec" type="tns:attributeDefinitionSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateAttributeResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getLicenseState">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getLicenseStateResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:licenseStateDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="licenseStateDataObj">
		<xs:sequence>
			<xs:element name="desktopAnalysisEnabled" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getComponent">
		<xs:sequence>
			<xs:element name="componentId" type="tns:componentIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getComponentResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:componentDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateProject">
		<xs:sequence>
			<xs:element name="projectId" type="tns:projectIdDataObj" minOccurs="0"/>
			<xs:element name="projectSpec" type="tns:projectSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateProjectResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getStreams">
		<xs:sequence>
			<xs:element name="filterSpec" type="tns:streamFilterSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="streamFilterSpecDataObj">
		<xs:sequence>
			<xs:element name="languageList" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="descriptionPattern" type="xs:string" minOccurs="0"/>
			<xs:element name="namePattern" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getStreamsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:streamDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="setAcceptingNewCommits">
		<xs:sequence>
			<xs:element name="arg0" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="setAcceptingNewCommitsResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="deleteProject">
		<xs:sequence>
			<xs:element name="projectId" type="tns:projectIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteProjectResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="updateComponentMap">
		<xs:sequence>
			<xs:element name="componentMapId" type="tns:componentMapIdDataObj" minOccurs="0"/>
			<xs:element name="componentMapSpec" type="tns:componentMapSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateComponentMapResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getDefectStatuses">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getDefectStatusesResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getMessageOfTheDay">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getMessageOfTheDayResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteGroup">
		<xs:sequence>
			<xs:element name="groupId" type="tns:groupIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteGroupResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="deleteStream">
		<xs:sequence>
			<xs:element name="streamId" type="tns:streamIdDataObj" minOccurs="0"/>
			<xs:element name="onlyIfEmpty" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteStreamResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="updateGroup">
		<xs:sequence>
			<xs:element name="groupId" type="tns:groupIdDataObj" minOccurs="0"/>
			<xs:element name="groupSpec" type="tns:groupSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="updateGroupResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getVersion">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getVersionResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:versionDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="versionDataObj">
		<xs:sequence>
			<xs:element name="externalVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="internalVersion" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="mergeTriageStores">
		<xs:sequence>
			<xs:element name="srcTriageStoreIds" type="tns:triageStoreIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="triageStoreId" type="tns:triageStoreIdDataObj" minOccurs="0"/>
			<xs:element name="deleteSourceStores" type="xs:boolean"/>
			<xs:element name="assignStreamsToTargetStore" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="mergeTriageStoresResponse">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="notify">
		<xs:sequence>
			<xs:element name="usernames" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subject" type="xs:string" minOccurs="0"/>
			<xs:element name="message" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="notifyResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getLdapServerDomains">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="getLdapServerDomainsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:serverDomainIdDataObj" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getRole">
		<xs:sequence>
			<xs:element name="roleId" type="tns:roleIdDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getRoleResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:roleDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createRole">
		<xs:sequence>
			<xs:element name="roleSpec" type="tns:roleSpecDataObj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createRoleResponse">
		<xs:sequence/>
	</xs:complexType>
</xs:schema>
